.on-this-page {
  font-size: 0.875em;
  line-height: calc(1.5 / 0.875);
}

.on-this-page a {
  display: block;
}

.on-this-page a.indent {
  padding-left: 0.8em;
}

.on-this-page a + h6 {
  margin-top: calc(1.5em / 0.875);
}

.on-this-page * + a {
  margin-top: calc(1.5em / 0.875 / 2);
}
