.line {
  line-height: 1.5;
  /* color: inherit;
  border-radius: 0.4em;
  outline-width: 0.2em;
  outline-offset: 0.6em; */
}

/* .line:hover,
.line:focus {
  outline-style: solid;
}

.line:hover {
  text-decoration: none;
  outline-color: var(--shader);
}

.line:focus {
  outline-color: var(--red);
}

.line:hover:focus {
  outline-color: var(--teal);
} */

p {
  opacity: 0.6;
}

.bold {
  opacity: 1;
  font-weight: 350;
  font-size: 1.15em;
  line-height: 1.3;
}

.heavy {
  color: var(--heavy-vishraam);
}

.medium {
  color: var(--medium-vishraam);
}

.light {
  color: var(--light-vishraam);
}
