.app {
  font-size: 1rem;
  outline: none;
}

.slideshow {
  z-index: 1;
  position: fixed;
  height: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  background: var(--bg);
}

.slideshow .line {
  margin-top: 24px;
  text-align: center;
  display: flex !important;
  flex-direction: column;
  gap: 0.5em;
}

.slideshow .title {
  font-size: 1rem !important;
}

.slideshow p.bold {
  line-height: 1.25 !important;
  font-size: 1.75em !important;
  font-weight: 350 !important;
}

.slideshow__hint {
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  position: fixed;
  bottom: 3.5em;
  text-align: center;
}

.notes-pane {
  position: fixed;
  height: 5.5em;
  bottom: 0;
  left: 0;
  right: 0;
  resize: none;
  border: 0;
  border-radius: 0.5em 0.5em 0 0;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--bg-base);
  color: var(--fg);
  font-family:
    'Sant Lipi',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

html.presenter .notes-pane {
  text-align: center;
}

.notes-pane::-webkit-scrollbar {
  display: none;
}

html.classic .line {
  margin-bottom: 1.5em;
}

html.classic .line:last-child {
  margin-bottom: 0;
}

html.reader article p.bold::before {
  content: '\0020';
}

html.reader .line > p,
html.saral .line > p {
  display: none;
}

html.reader .line,
html.reader .line > p.bold,
html.saral .line > p.bold {
  display: inline;
  line-height: 1.6;
}

html.saral .line {
  display: block;
}

html.reader .title,
html.saral .title {
  display: block;
  font-size: 1.25em;
}

html.reader .title > p,
html.saral .title > p {
  line-height: 1.2;
}

html.reader .title > p.bold,
html.saral .title > p.bold {
  font-weight: 230;
  font-size: 1.15em;
}

html.reader .line:not(.title) + .title,
html.saral .line:not(.title) + .title {
  margin-top: 1.2em;
}

html.reader .title + .line:not(.title)::before,
html.saral .title + .line:not(.title)::before {
  content: '\A';
  white-space: pre;
  font-size: 0.5em;
  display: block;
}

html.reader .end-of-pauri:after,
html.saral .end-of-pauri:after {
  content: '\A\A';
  white-space: pre;
  font-size: 0.25em;
  display: block;
}

html.presenter .app > div > article {
  height: calc(100vh - 56px);
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  font-size: 1em;
}

.presenter::-webkit-scrollbar {
  display: none;
}

.presenter .line {
  margin-top: 0;
  padding-top: 24px;
  height: calc(100vh - 56px - 48px - 1.75em - 48px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5em;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.presenter p.bold {
  font-size: 1.75em;
  line-height: 1.25;
}

@media (max-device-width: 400px) {
}

@media (pointer: coarse) {
  .notes-pane,
  main > div,
  header > div,
  footer > div {
    width: inherit;
    max-width: 100%;
  }
}

.notes-pane,
main > div,
header > div {
  max-width: 100%;
}

html.classic main > div,
html.classic header > div,
html.classic .notes-pane,
html.saral main > div,
html.saral header > div,
html.saral .notes-pane,
html.reader main > div,
html.reader header > div,
html.reader .notes-pane {
  width: 30rem;
}

html.presenter main > div,
html.presenter header > div,
html.presenter .notes-pane {
  width: 100%;
}
