html {
  font-size: 20px;
}

.qrcode {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
}

.line {
  font-size: 1rem;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 0.75rem;
  text-align: center;
  padding: 0.75rem 0.75rem;
}

.header {
  --progress-bar-size: 4px;
  position: sticky;
  top: 0px;
  background: var(--bg-base);
  padding-top: var(--progress-bar-size);
}

.header .line {
  padding: 0.25rem 0.75rem;
}

.line:nth-child(even) {
  background-color: rgba(var(--black-rgb) / 0.04);
}

p {
  font-weight: 600;
}

p,
div {
  align-self: center;
}

.progress-bar {
  opacity: 0.4;
  position: relative;
  top: calc(var(--progress-bar-size) / 2);
  height: var(--progress-bar-size);
  border-radius: var(--progress-bar-size);
  width: 0%;
  background-color: var(--ui);
}
