.presenter article,
.database article,
.viewer article {
  box-sizing: border-box;
  padding: 10vh 24px;
  text-align: center;
  min-height: calc(95vh - 4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 4em;
  font-weight: 200;
}

h2 {
  font-size: 2em;
  font-weight: 300;
}

h1 + h2 {
  margin-top: 0;
}

header {
  border-bottom: none !important;
}

a.button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--blue);
  color: white;
  border-radius: 2em;
  padding: 0.75em 1em;
  margin: 0.5em auto 1em;
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

a.button:hover {
  text-decoration: none;
}

.presenter {
  background: radial-gradient(75vw 70vh at 50% 115%, #b71e61, #300519 100%);
}

.presenter img {
  width: 100%;
  max-width: 416px;
  border-radius: 12px;
}

@media (prefers-color-scheme: light) {
  :root {
    --db-color: rgb(73.44% 78.06% 88.71%);
    --viewer-color: #dccbcb;
  }

  .presenter {
    background: radial-gradient(
      75vw 70vh at 50% 115%,
      rgb(97.81% 77.97% 83.09%),
      rgb(88.77% 85.81% 86.79%) 100%
    ); /* lch(90% 10 2) to  */
  }

  .presenter img {
    filter: invert(100%) brightness(1.3);
    image-rendering: crisp-edges;
    opacity: 0.8;
  }

  .database {
    background: var(--db-color);
  }

  .viewer {
    background: var(--viewer-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --db-color: rgb(26.19% 32.64% 44.76%);
    --viewer-color: rgb(41.29% 35.59% 35.64%);
  }

  header {
    background-color: #300519 !important;
  }

  section {
    color: rgba(var(--white-rgb) / var(--alpha-80));
  }

  .presenter {
    color: white;
    background: radial-gradient(75vw 70vh at 50% 115%, #b71e61, #300519 100%);
  }

  .database {
    background: var(--db-color);
  }

  .viewer {
    background: var(--viewer-color);
  }
}
