@keyframes window-appear {
  0% {
    opacity: 0.6;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-appear {
  0% {
    color: var(--bg-base);
  }
  100% {
    color: var(--fg);
  }
}

.modal {
  position: fixed;
  background-color: var(--bg-base);
  z-index: 2;
  color: var(--bg-base);
  animation: window-appear 0.6s ease, text-appear 0.4s ease 0.2s;
  animation-fill-mode: forwards;
}

.modal__article {
  overscroll-behavior: contain;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 36px calc(100% - 36px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 24px calc(100% - 24px),
    transparent 100%
  );
}

.modal__article::-webkit-scrollbar {
  display: none;
}

.modal__article > * + * {
  margin-top: 1.5rem;
}

.modal__close {
  position: absolute;
  font-size: 0.4em;
  right: 2.25em;
  top: 2.5em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  line-height: 1;
  background-color: var(--shader);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: var(--fg);
}

:global(body[dir='rtl'] .modal__close) {
  right: auto;
  left: 2.25em;
}

.modal__close:hover {
  background-color: var(--separator);
}

.interface__option {
  display: flex;
  align-items: center;
  gap: 0.4em;
  justify-content: space-between;
  user-select: none;
}

.interface__option.clickable {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

:global(.interface__option.clickable:hover .switch) {
  --track-color-inactive: #d7d7d7 !important;
}

input[type='range']::-webkit-slider-thumb {
  transform: scale(1.25);
}

.interface__select {
  background-color: #e7e7e7;
  border-radius: 0.5em;
  padding: 0.125em;
  border: 1.25px solid #c5c5c5;
}

.interface__select:hover {
  background-color: #e0e0e0;
}

@media (pointer: fine) {
  .modal {
    width: 400px;
    top: 4.5em;
    right: calc((100vw - min(80vw, 1000px)) / 2);
    border-radius: 1em;
  }
  .modal__article {
    max-height: calc(100vh - 6rem);
  }
}

@media (pointer: coarse) {
  .modal__article {
    max-height: 60vh;
  }
  input[type='range']::-webkit-slider-thumb {
    transform: scale(calc(2.5 / 1.5));
  }
  .interface__select {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 2.5em;
    padding: 0.75em 0 0.75em 1em;
  }
  @media (max-device-width: 480px) {
    .modal {
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 1em 1em 0 0;
      padding-bottom: 24px;
    }
  }
  @media (min-device-width: 481px) {
    .modal {
      width: 352px;
      right: 24px;
      top: 5em;
      border-radius: 1em;
    }
  }
}
