@keyframes modal-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: var(--alpha-80);
  }
}

@keyframes fade-in-and-up {
  0% {
    opacity: 0.4;
    transform: translateY(24px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-and-left {
  0% {
    opacity: 0.4;
    transform: translateX(24px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes text-fades-in {
  0% {
    color: var(--fg-muted);
  }
  100% {
    color: var(--fg);
  }
}

.modal-bg {
  z-index: 2;
  overscroll-behavior: contain;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  position: fixed;
  max-width: none;
  animation: modal-appear 0.6s ease;
  animation-fill-mode: forwards;
}

.modal {
  position: fixed;
  background-color: var(--bg-base);
  z-index: 3;
  color: var(--fg-muted);
  font-size: 16px;
  max-width: 100vw;
}

.modal__article {
  overscroll-behavior: contain;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0px,
    black 24px calc(100% - 24px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 24px calc(100% - 24px),
    transparent 100%
  );
}

.modal__article::-webkit-scrollbar {
  display: none;
}

.modal__article > * {
  margin-bottom: 24px;
}

.modal__article > *:last-child {
  margin-bottom: 0;
}

.modal__article > h2 {
  line-height: 1.1;
}

.modal__close {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 35px;
  height: 20px;
  border-radius: 20px;
  font-size: 20px;
  padding: 2px;
  line-height: 1;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: var(--link);
  border: 0.5px solid var(--toner);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

:global(body[dir='rtl'] .modal__close) {
  right: auto;
  left: 2.25em;
}

.modal__close:hover {
  background-color: var(--toner);
  color: var(--link-hover);
}

.interface__option {
  display: flex;
  align-items: center;
  gap: 0.4em;
  justify-content: space-between;
  user-select: none;
}

a.interface__option:hover {
  text-decoration: none;
}

.interface__icon {
  width: 35px;
  height: 20px;
  font-size: 20px;
  padding: 2px;
  border-radius: 20px;
  line-height: 1;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border: 0.5px solid var(--toner);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
}

.interface__option.clickable {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

:global(.interface__option.clickable:hover .switch) {
  --track-color-inactive: var(--toner) !important;
}

.interface__option.clickable:hover .interface__icon {
  background-color: var(--toner);
}

@media (pointer: fine) {
  .modal {
    width: 400px;
    top: 6em;
    border-radius: 1em;
    height: calc(100vh - 8.5em);
    right: 2.5em;
    animation:
      fade-in-and-left 0.6s ease,
      text-fades-in 0.4s ease 0.2s;
    animation-fill-mode: forwards;
  }
  .modal__article {
    max-height: calc(100vh - 6em);
  }
}

@media (pointer: coarse) {
  .modal {
    animation:
      fade-in-and-up 0.6s ease,
      text-fades-in 0.4s ease 0.2s;
    animation-fill-mode: forwards;
  }
  .modal__article {
    max-height: 60vh;
  }
  .modal__close {
    right: 25px;
    top: 12.5px;
    width: 35px;
    height: 35px;
    border-radius: 40px;
  }
  .interface__icon {
    width: 60px;
    height: 40px;
    border-radius: 40px;
  }
  @media (max-device-width: 480px) {
    .modal {
      width: 100%;
      left: 0;
      bottom: 0;
      border-radius: 1em 1em 0 0;
      padding-bottom: 24px;
    }
  }
  @media (min-device-width: 481px) {
    .modal {
      width: 352px;
      right: 24px;
      top: 5em;
      border-radius: 1em;
    }
  }
}
