button {
  padding: 8px 24px;
  min-width: 6em;
  outline: 2.25px solid var(--toner);
  outline-offset: -2.25px;
  font-size: 16px;
  min-height: 40px;
}

@media (pointer: coarse) and (max-width: 768px) {
  button {
    min-width: auto;
    min-height: 48px;
    width: 100%;
    flex-grow: 1;
  }
}
