header {
  top: 0;
  position: sticky;
  background: inherit;
  border-bottom: 1px solid var(--separator);
  z-index: 4;
}

header * {
  user-select: none;
}

header > div {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 1fr auto 1fr; */
  align-items: center;
}

header ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  padding-right: 12px;
}

header li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header a {
  color: var(--fg);
  opacity: var(--alpha-80);
  padding: 0 24px;
  min-height: 60px;
  min-width: 12px; /* 60 - 2*padding */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 125ms;
}

header a:hover {
  opacity: 1;
  text-decoration: none;
  transform: scale(1.05);
}

header .logo {
  display: flex;
  gap: 0.2em;
  align-items: center;
  font-size: 1.25em;
  font-weight: 300;
  padding-left: 18px;
}

header .lotus {
  height: 2em;
}

@media (prefers-color-scheme: light) {
  header {
    background-color: #e0dadc; /*  lch(88% 3 355)*/
  }
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: #2b1d22; /* lch(10% 11 355) */
  }
}

@media (display-mode: window-controls-overlay) {
  header {
    font-size: 0.875em;
    -webkit-app-region: drag;
    app-region: drag;
  }
  header > div {
    width: calc(env(titlebar-area-width, 100%));
  }
  header a,
  header input {
    min-height: env(titlebar-area-height, 38px);
    -webkit-app-region: no-drag;
    app-region: no-drag;
  }
  header .logo {
    font-size: inherit;
    font-weight: inherit;
  }
  header .lotus {
    display: none;
  }
}
