@font-face {
  font-family: 'Sant Lipi';
  font-style: normal;
  font-weight: 100 900;
  font-display: auto;
  src:
    url('/fonts/SantLipi-VF.woff2') format('woff2-variations'),
    url('/fonts/SantLipi-VF.woff2') format('woff2');
  unicode-range: U+0964-0965, U+2080-2089, U+262C, U+25CC, U+0A00-0A76,
    U+A830-A835;
}

:root {
  --isLTR: 1;

  --black-rgb: 0% 0% 0%;
  --white-rgb: 100% 100% 100%;

  --alpha-8: 8%;
  --alpha: 40%;
  --alpha-80: 80%;
}

@media (prefers-color-scheme: light) {
  :root {
    --toner: rgba(var(--black-rgb) / var(--alpha-8));
    --fg: rgb(8.33% 7.46% 5.52%);
    --fg-muted: rgb(57.57% 56.58% 54.63%);
    --bg: #f5f3f0;
    --bg-base: #fff;
    --blue: rgb(0% 48.81% 81.83%);
    --link: #2c64c4;
    --link-hover: #4395f7;
    --teal: rgb(0% 52.14% 55.32%);
    --red: rgb(83.05% 24% 29.82%);
    --heavy-vishraam: rgb(55.17% 30% 13.76%);
    --medium-vishraam: rgb(9.32% 42.55% 19.52%);
    --light-vishraam: rgb(53% 27.31% 53.51%);
  }

  @media (dynamic-range: high) {
    @supports (color: lch(0 0 0)) {
      :root {
        --fg: lch(4% 2 85);
        --fg-muted: lch(40% 2 85);
        --bg: lch(96% 2 85);
        --bg-base: lch(100% 0 0);
        --blue: lch(50% 66 265);
        --link: lch(40% 66 265);
        --link-hover: lch(60% 66 265);
        --teal: lch(50% 66 205);
        --red: lch(50% 66 25);
        --heavy-vishraam: lch(40% 44 55);
        --medium-vishraam: lch(40% 44 145);
        --light-vishraam: lch(40% 44 295);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --toner: rgba(var(--white-rgb) / var(--alpha-8));
    --fg: rgb(79.55% 77.27% 77.12%);
    --fg-muted: rgb(58.17% 56.26% 56.14%);
    --bg: rgb(18.36% 16.88% 17.38%);
    --bg-base: rgb(13.15% 13.15% 13.15%);
    --blue: rgb(11.18% 48.69% 80.05%);
    --link: rgb(44.17% 57.86% 77.28%);
    --link-hover: rgb(65.49% 79% 99.57%);
    --teal: rgb(0% 52.14% 55.32%);
    --red: rgb(75.42% 32.24% 33.73%);
    --heavy-vishraam: rgb(77.58% 49.59% 32.13%);
    --medium-vishraam: rgb(32.15% 63.1% 38.26%);
    --light-vishraam: rgb(57.99% 53% 84.46%);
  }

  ::selection {
    background: rgb(95.76% 73.91% 23.13% / var(--alpha));
  }

  img,
  svg {
    filter: saturate(0.8);
  }

  @media (dynamic-range: high) {
    @supports (color: lch(0 0 0)) {
      :root {
        --fg: lch(80% 2 25);
        --fg-muted: lch(60% 2 25);
        --bg: lch(18% 2 355);
        --bg-base: lch(13% 1 355);
        --blue: lch(50% 50 265);
        --link: lch(60% 40 265);
        --link-hover: lch(80% 40 265);
        --teal: lch(50% 50 205);
        --red: lch(50% 50 25);
        --heavy-vishraam: lch(60% 44 55);
        --medium-vishraam: lch(60% 44 145);
        --light-vishraam: lch(60% 44 295);
      }

      ::selection {
        background: lch(80% 70 80 / 40%);
      }
    }
  }
}

body {
  font-family:
    'Sant Lipi',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

body[dir='rtl'] {
  --isLTR: -1;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

b,
strong {
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

p.small {
  font-size: 0.8em;
  color: var(--fg-muted);
}

hr {
  margin: 0;
  border: 0.5px solid var(--toner);
}

ul,
ol {
  /* reset */
  padding: 0;
  margin: 0;
  padding-left: 1.6em;
}

li::marker {
  color: var(--fg-muted);
}

blockquote {
  padding: 0.75em 0;
  margin: 0;
  padding-left: 1em;
  padding-right: 0.4em;
  border: 0 solid var(--fg-muted);
  border-left-width: 0.2em;
  background: var(--toner);
}

a,
a:visited {
  text-decoration: none;
  overflow-wrap: anywhere;
}

a:hover {
  text-decoration: underline;
}

pre {
  padding: 12px;
  overflow: auto;
  font-size: 90%;
  background-color: var(--toner);
  border-radius: 6px;
}

code {
  font-family:
    'Sant Lipi',
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 0.9em;
  background-color: var(--toner);
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  white-space: break-spaces;
}

pre code {
  background-color: transparent;
  padding: 0;
  font-size: inherit;
}

.menu-container,
.notes-pane,
main > div,
header > div,
footer > div {
  margin: 0 auto;
  width: 80vw;
  max-width: 1000px;
}

article {
  box-sizing: border-box;
  padding: 24px;
}

article > *,
blockquote > * {
  margin-bottom: 24px;
}

article > *:last-child,
blockquote > *:last-child {
  margin-bottom: 0;
}

.button {
  transition: ease-in-out 125ms;
}

.button:hover {
  mix-blend-mode: luminosity;
  transform: scale(1.05);
}

input,
select {
  accent-color: var(--blue);
  cursor: pointer;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--bg);
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
  border-radius: 25px;
  border: 0.5px solid var(--toner);
  font-size: 16px;
  font-weight: 500;
  color: var(--link);
  font-family:
    'Sant Lipi',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Arial,
    sans-serif;
  padding: 2px 12px;
}

select {
  text-align: center;
}

input[type='search'],
input[type='text'] {
  background-color: var(--bg-base);
  color: var(--fg);
}

input:hover,
input:focus,
select:hover,
select:focus {
  background-color: var(--toner);
  color: var(--link-hover);
}

input:focus,
select:focus {
  outline: 2px solid var(--link-hover);
  outline-offset: -0.5px;
}

input[type='search']:hover,
input[type='search']:focus {
  background-color: var(--bg-base);
  color: var(--fg);
  outline: 2px solid var(--link-hover);
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 144px;
  overflow: hidden;
  border-radius: 24px;
  height: 24px;
  border: 0.5px solid var(--toner);
}

input[type='range']:focus {
  outline: 2px solid var(--link-hover);
  outline-offset: -0.5px;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: var(--bg);
  height: 100%;
  transition: background-color 0.25s ease;
}
input[type='range']::-moz-range-track {
  background-color: var(--bg);
  height: 100%;
  transition: background-color 0.25s ease;
}

input[type='range']:hover::-webkit-slider-runnable-track {
  background-color: var(--toner);
}
input[type='range']:hover::-moz-range-track {
  background-color: var(--toner);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  box-shadow: -412px 0 0 400px var(--blue);
  margin-top: -0.5px;
}
input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  box-shadow: -412px 0 0 400px var(--blue);
  margin-top: -0.5px;
}

input[type='range']:focus::-webkit-slider-thumb {
  outline: 2px solid var(--toner);
  outline-offset: -2px;
}

input[type='range']:focus::-moz-range-thumb {
  outline: 8px solid #fff;
  outline-offset: -16px;
}

@media (pointer: coarse) {
  *,
  *:hover,
  *:active,
  *:focus,
  *:active:focus {
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }

  h1 {
    font-size: 1.5em;
    line-height: 1.3333333;
    font-weight: 400;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.2;
  }

  .menu-container,
  .notes-pane,
  main > div,
  header > div,
  footer > div {
    margin: 0 auto;
    width: 100%;
    max-width: none;
  }

  a:not([aria-hidden='true']) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 48px;
    min-width: 48px;
  }

  input[type='search'] {
    width: 100%;
    text-align: center;
  }

  input[type='search'],
  input[type='text'],
  select {
    padding: 10px 12px;
    border-radius: 40px;
  }

  input[type='range'] {
    height: 39px;
  }
  input[type='range']::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: -419px 0 0 400px var(--blue);
  }
  input[type='range']::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: -419px 0 0 400px var(--blue);
  }
}

@media (display-mode: window-controls-overlay), (display-mode: standalone) {
  footer {
    display: none;
  }
}
